.card {
  width: 18em;
  max-width: 30em;
  background-color: white;
  border-radius: 1em;
  overflow: hidden;

  box-shadow: rgba(50, 50, 93, 0.25) 13px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 16px 8px 16px -8px;

  &:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease;
    cursor: pointer;
  }
}

/* .card__header {
  width: ;
} */

.card__img {
  width: 100%;
  display: block;
}

.card__section {
  padding: 2em 1em 1em;
}

.card__name {
  margin-bottom: 0.8em;
}

.card__rating {
  display: flex;
  gap: 0.5em;
  font-weight: 300;
  margin-bottom: 0.4em;
}

.card__location {
  font-size: 0.8em;
  margin-bottom: 0.4em;
}

.card__price {
  font-size: 1.2em;
  &::before {
    content: "$";
    margin-right: 0.2em;
  }
}

.card__footer {
  margin-bottom: 1.8em;
}

.card__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  padding: 0.6em 1.5em;
  border-radius: 0.8em;
  background-color: #fa4040;
  color: #fff;
  font-weight: 700;
  &:hover {
    filter: grayscale(0.3);
  }
}
